.Dice {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 72px;

  & > .Roll {
    font-size: 0.4em;
    width: 7em;
  }

  & > .Die {
    width: 1.11em;
    height: 1.11em;
    border: 0px none;
    background: transparent;
    color: inherit;
    font-size: inherit;
    line-height: 100%;
    text-align: center;
    padding: 0;

    &.Held {
      color: #cf0;
    }
  }
}
