.ManualDice {
  width: 600px;
  font-size: 72px;
  height: 1.11em;
  border: 0 none;
  background: white;
  letter-spacing: 0.25em;
  padding-left: 0.1em;

  &.Placeholder {
    letter-spacing: 0;
    font-style: italic;
    font-size: 20px;
  }
}
